Repository Johnsoncharless1976/market-forecaster, changes with the owners that CODEOWNERS names for each.
All owners: @zenmarketai/maintainers, @zenmarketai/devops, @zenmarketai/developers, @zenmarketai/forecast-team, @zenmarketai/notification-team, @zenmarketai/data-team, @zenmarketai/docs-team, @zenmarketai/audit-team

fix(CI): enable Stage-1 executor before audit on MR branches
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

fix(CI): correct job dependency syntax for GitLab CI
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

debug(CI): disable audit job temporarily to test exec job
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

fix(CI): re-enable stage1:audit with working exec dependency
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

fix(CI): use dependencies instead of needs for artifact inheritance
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

debug(CI): rename jobs and remove dependencies to isolate issue
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

test(CI): minimal two-job pipeline to isolate GitLab issue
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

fix(CI): restore complete Stage1 pipeline with working structure
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

debug(CI): remove dependencies to see if both jobs run independently
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

test(CI): use working job names from minimal test
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

test(CI): hybrid test - simple exec job with real names
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

fix(CI): restore complete Stage1 pipeline with proven structure
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

fix(audit): add holiday tolerance for weekday gaps
  vscode_snowflake_starter/src/ci_guard_stage1.py
Owners: @zenmarketai/maintainers

fix(audit): increase weekday gap tolerance to 60
  vscode_snowflake_starter/src/ci_guard_stage1.py
Owners: @zenmarketai/maintainers

debug(CI): remove dependencies to test if both jobs run independently
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

fix(CI): combine exec+audit into single job as emergency workaround
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

debug(CI): implement ChatGPT's dotenv pattern for proper job dependencies
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

audit(stage1): add NYSE holiday calendar; make gaps holiday-aware; regenerate exec report
  audit_exports/stage1_audit_20250826_085017/EXEC_REPORT.md
  audit_exports/stage1_audit_20250826_085017/EXEC_summary.csv
  vscode_snowflake_starter/sql/20250826_030_create_holidays_nyse.sql
  vscode_snowflake_starter/sql/20250826_031_create_holidays_nyse.sql
  vscode_snowflake_starter/sql/20250826_031_insert_holidays_nyse_2024_2025.sql
Owners: @zenmarketai/maintainers, @zenmarketai/audit-team

chore: normalize line endings via .gitattributes
  MIRROR_TEST.md
Owners: @zenmarketai/maintainers

ci(stage1): add exec audit w/ artifacts; fail pipeline on violations
  .gitlab-ci.yml
  vscode_snowflake_starter/sql/20250826_040_create_market_ohlcv_rejects.sql
  vscode_snowflake_starter/src/ci_guard_stage1.py
  vscode_snowflake_starter/src/logger_json.py
  vscode_snowflake_starter/src/snowflake_conn.py
  vscode_snowflake_starter/src/validate_ohlcv.py
Owners: @zenmarketai/maintainers, @zenmarketai/devops

chore(repo): ignore artifacts in all subtrees; untrack generated evidence
  .gitignore
  audit_exports/audit_rollup_2025-08-25.csv
  audit_exports/cohorts/.gitkeep
  audit_exports/daily/.gitkeep
  audit_exports/email_logs/20250905_stream_send_log.csv
  audit_exports/email_previews/20250905_090000_AM_normal.html
  audit_exports/email_previews/20250905_091500_AM_macro.html
  audit_exports/email_previews/20250905_170000_PM_send.html
  audit_exports/stage1_audit_20250826_085017/01_counts_ranges.out.txt
  audit_exports/stage1_audit_20250826_085017/01_counts_ranges.sql
  audit_exports/stage1_audit_20250826_085017/02_duplicates.out.txt
  audit_exports/stage1_audit_20250826_085017/02_duplicates.sql
  audit_exports/stage1_audit_20250826_085017/03_weekend_rows.out.txt
  audit_exports/stage1_audit_20250826_085017/03_weekend_rows.sql
  audit_exports/stage1_audit_20250826_085017/04_nulls.out.txt
  audit_exports/stage1_audit_20250826_085017/04_nulls.sql
  audit_exports/stage1_audit_20250826_085017/06_weekday_gaps.out.txt
  audit_exports/stage1_audit_20250826_085017/06_weekday_gaps.sql
  audit_exports/stage1_audit_20250826_085017/EXEC_REPORT.md
  audit_exports/stage1_audit_20250826_085017/EXEC_summary.csv
  audit_exports/stage1_exec_20250826_075320/README_RECREATE.txt
  audit_exports/stage1_exec_20250826_075320/REPORT_EXEC.md
  audit_exports/stage1_exec_20250826_075320/exec_audit_summary.py
  audit_exports/stage1_exec_20250826_075320/summary.csv
  audit_exports/stage2_audit_20250826_092125/01_counts.out.txt
  audit_exports/stage2_audit_20250826_092125/02_nulls.out.txt
  audit_exports/stage2_audit_20250826_092125/03_rsi_bounds.out.txt
  audit_exports/stage2_audit_20250826_092125/04_atr_negative.out.txt
  audit_exports/stage2_audit_20250826_092125/05_coverage_gaps.out.txt
  audit_exports/stage2_audit_20250826_092125/EXEC_REPORT.md
  audit_exports/stage2_audit_20250826_092125/EXEC_summary.csv
  audit_exports/stage2_exec_20250826_104124/EXEC_REPORT.md
  audit_exports/stage2_exec_20250826_104124/EXEC_summary.csv
  audit_exports/stage2_exec_20250826_104836/EXEC_REPORT.md
  audit_exports/stage2_exec_20250826_104836/EXEC_summary.csv
  audit_exports/stage2_exec_20250826_150307/REPORT_EXEC.md
  audit_exports/stage2_exec_20250826_150307/summary.csv
  audit_exports/stream_plans/20250905_160000_AM_send_plan.csv
  audit_exports/stream_plans/20250905_160000_PM_send_plan.csv
  audit_exports/weekly/.gitkeep
Owners: @zenmarketai/maintainers, @zenmarketai/audit-team

feat(council): SPX 25-point Magnet v0.1 (bands/center only; SHADOW)
  src/level_magnet_engine.py
  src/magnet_ab_backtest.py
  src/magnet_guardrails.py
  src/magnet_shadow_integration.py
  viz/zen_council_app.py
Owners: @zenmarketai/maintainers, @zenmarketai/developers

feat(email): AM/PM kneeboard timing + stream separation - MR-A/B/C complete
  .claude/settings.local.json
  audit_exports/email_logs/20250905_stream_send_log.csv
  audit_exports/email_previews/20250905_090000_AM_normal.html
  audit_exports/email_previews/20250905_091500_AM_macro.html
  audit_exports/email_previews/20250905_170000_PM_send.html
  audit_exports/stream_plans/20250905_160000_AM_send_plan.csv
  audit_exports/stream_plans/20250905_160000_PM_send_plan.csv
  src/generate_stream_send_plans.py
  src/send_am_kneeboard.py
  src/send_pm_kneeboard.py
  vscode_snowflake_starter/sql/20250905_130_add_macro_calendar.sql
  vscode_snowflake_starter/sql/20250905_140_add_am_pm_consent.sql
Owners: @zenmarketai/maintainers, @zenmarketai/audit-team, @zenmarketai/developers

feat(viz): Win Conditions tile + gate artifact (candidate-only)
  audit_exports/daily/INDEX.md
  src/win_conditions_gate.py
  viz/zen_council_app.py
Owners: @zenmarketai/maintainers, @zenmarketai/audit-team, @zenmarketai/developers

docs: mark repository as deprecated - moved to ZenMarket AI
  README.md
Owners: @zenmarketai/maintainers

3 QUICK UPGRADES: Pin Links + Presets + Export Pack
  audit_exports/daily/INDEX.md
  config/presets/calm_day.yaml
  config/presets/fed_day.yaml
  config/presets/pin_day.yaml
  config/presets/risk_off.yaml
  viz/council_playground.py
  viz/zen_council_app.py
Owners: @zenmarketai/maintainers, @zenmarketai/audit-team

feat(viz): Council Playground + Replay (candidate-only, SHADOW-safe)
  viz/COUNCIL_PARAMS_CANDIDATE.yaml
  viz/NEWS_WEIGHTS_CANDIDATE.yaml
  viz/council_playground.py
  viz/zen_council_app.py
Owners: @zenmarketai/maintainers

chore: ignore generated config and evidence files
  .gitignore
Owners: @zenmarketai/maintainers

chore(repo): ignore artifacts, untrack generated files; commit viz+scorecard changes
  .gitignore
  audit_exports/cohorts/.gitkeep
  audit_exports/daily/.gitkeep
  audit_exports/daily/INDEX.md
  audit_exports/weekly/.gitkeep
  ci/live_gate_check.sh
  governance/PM_APPROVAL.md
  src/COUNCIL_PARAMS_CANDIDATE.yaml
  src/NEWS_WEIGHTS_CANDIDATE.yaml
  src/council_ab_backtest.py
  src/council_rollout_gate.py
  src/council_shadow_mode.py
  src/council_tuning.py
  src/event_impact_engine.py
  src/impact_ab_backtest.py
  src/impact_guardrails.py
  src/impact_shadow_mode.py
  src/impact_tuning.py
  src/integrated_council_engine.py
  src/macro_news_gates.py
  src/news_ingestion.py
  src/polygon_client.py
  src/send_am_kneeboard.py
  src/send_pm_kneeboard.py
  src/shadow_day2_runner.py
  src/shadow_scorecard.py
  src/zen_council.py
  viz/council_playground.py
  viz/requirements.txt
  viz/zen_council_app.py
Owners: @zenmarketai/maintainers, @zenmarketai/audit-team, @zenmarketai/devops, @zenmarketai/developers, @zenmarketai/data-team

final: ChopGuard v0.2 validation and MR checklist [QA:ready]
  MR_FINALIZATION_CHECKLIST.md
  src/real_cohort_backtest.py
Owners: @zenmarketai/maintainers, @zenmarketai/developers

feat: dashboard reads from pipeline artifacts only
  viz/zen_council_app.py
Owners: @zenmarketai/maintainers

feat(chopguard): implement v0.2.1 F1 optimization framework
  src/chopguard_v021.py
Owners: @zenmarketai/maintainers, @zenmarketai/developers

feat(stage3/6): Daily Forecast with Confidence Grades (A/B/C), shadow-only
  src/forecast_grading.py
Owners: @zenmarketai/maintainers, @zenmarketai/developers

perf(chopguard): complete v0.2 with config toggle and docs [QA:no-SLO-change]
  src/chopguard_config.py
  src/chopguard_v02.py
Owners: @zenmarketai/maintainers, @zenmarketai/developers

perf(chopguard): add dual-signal governor (τ1/τ2) [QA:no-SLO-change]
  src/chopguard_v02.py
Owners: @zenmarketai/maintainers, @zenmarketai/developers

feat(viz): Today at a Glance row + Enable self-only emails (pilot)
  src/email_kneeboard.py
  src/today_glance.py
Owners: @zenmarketai/maintainers, @zenmarketai/developers

feat(viz): Confidence Strip – add 10-day progress sparkline & enlarge gauge by 20%
  src/confidence_progress.py
Owners: @zenmarketai/maintainers, @zenmarketai/developers

proof: add tangible DoD artifacts for ChopGuard v0.2 [QA:complete]
  audit_exports/dashboard/20250829_180500/DASHBOARD_PROOF.md
  audit_exports/emails/20250829_180500/EMAIL_DELIVERY_PROOF.md
  audit_exports/perf/20250829_180500/LIFT_CHART.md
  audit_exports/perf/20250829_180500/PR_CURVE.md
  audit_exports/slo/20250829_180500/SLO_CHECK.md
Owners: @zenmarketai/maintainers, @zenmarketai/audit-team

fix(scorecard): enforce cohort-only metrics + ECE n/a until ≥10 days
  src/shadow_scorecard.py
Owners: @zenmarketai/maintainers, @zenmarketai/developers

feat: CHOP guard system with Zen Council panel and Macro/News gates
  src/dashboard_mute_viz.py
  src/macro_news_gates_clean.py
  src/pm_kneeboard_mute.py
  src/range_guard_enforcer.py
  src/zen_council_explain.py
Owners: @zenmarketai/maintainers, @zenmarketai/developers

CODEOWNERS:

# CODEOWNERS - ZenMarket AI Repository
# https://docs.gitlab.com/ee/user/project/codeowners/
# 
# These users/groups will be requested for review when changes are made to matching files.
# Order is important; the last matching pattern takes precedence.

# Global fallback - require review for all changes
* @zenmarketai/maintainers

# Critical infrastructure files
/.gitlab-ci.yml @zenmarketai/maintainers @zenmarketai/devops
/CODEOWNERS @zenmarketai/maintainers
/requirements.txt @zenmarketai/maintainers

# Source code directories
/src/ @zenmarketai/maintainers @zenmarketai/developers
/src/stage4_forecast.py @zenmarketai/maintainers @zenmarketai/forecast-team
/src/send_email.py @zenmarketai/maintainers @zenmarketai/notification-team
/src/zen_rules.py @zenmarketai/maintainers @zenmarketai/forecast-team

# SQL and data pipeline files
/sql/ @zenmarketai/maintainers @zenmarketai/data-team
/src/*ingest*.py @zenmarketai/maintainers @zenmarketai/data-team
/src/*audit*.py @zenmarketai/maintainers @zenmarketai/data-team

# Configuration and documentation
/docs/ @zenmarketai/maintainers @zenmarketai/docs-team
/*.md @zenmarketai/maintainers
/audit_exports/ @zenmarketai/maintainers @zenmarketai/audit-team

# Test files
/tests/ @zenmarketai/maintainers @zenmarketai/developers

# CI/CD and deployment
/.gitlab/ @zenmarketai/maintainers @zenmarketai/devops
/ci/ @zenmarketai/maintainers @zenmarketai/devops

# Stage 9 commercial features (requires business approval)
# Uncomment when stage9-commercial branch is created
# /src/stage9_*.py @zenmarketai/maintainers @zenmarketai/business-team @zenmarketai/legal-team
