Repository Johnsoncharless1976/market-forecaster, changes with the owners that CODEOWNERS names for each.
All owners: @zenmarketai/maintainers, @zenmarketai/devops, @zenmarketai/developers, @zenmarketai/forecast-team, @zenmarketai/notification-team, @zenmarketai/data-team, @zenmarketai/docs-team, @zenmarketai/audit-team

CODEOWNERS:

# CODEOWNERS - ZenMarket AI Repository
# https://docs.gitlab.com/ee/user/project/codeowners/
# 
# These users/groups will be requested for review when changes are made to matching files.
# Order is important; the last matching pattern takes precedence.

# Global fallback - require review for all changes
* @zenmarketai/maintainers

# Critical infrastructure files
/.gitlab-ci.yml @zenmarketai/maintainers @zenmarketai/devops
/CODEOWNERS @zenmarketai/maintainers
/requirements.txt @zenmarketai/maintainers

# Source code directories
/src/ @zenmarketai/maintainers @zenmarketai/developers
/src/stage4_forecast.py @zenmarketai/maintainers @zenmarketai/forecast-team
/src/send_email.py @zenmarketai/maintainers @zenmarketai/notification-team
/src/zen_rules.py @zenmarketai/maintainers @zenmarketai/forecast-team

# SQL and data pipeline files
/sql/ @zenmarketai/maintainers @zenmarketai/data-team
/src/*ingest*.py @zenmarketai/maintainers @zenmarketai/data-team
/src/*audit*.py @zenmarketai/maintainers @zenmarketai/data-team

# Configuration and documentation
/docs/ @zenmarketai/maintainers @zenmarketai/docs-team
/*.md @zenmarketai/maintainers
/audit_exports/ @zenmarketai/maintainers @zenmarketai/audit-team

# Test files
/tests/ @zenmarketai/maintainers @zenmarketai/developers

# CI/CD and deployment
/.gitlab/ @zenmarketai/maintainers @zenmarketai/devops
/ci/ @zenmarketai/maintainers @zenmarketai/devops

# Stage 9 commercial features (requires business approval)
# Uncomment when stage9-commercial branch is created
# /src/stage9_*.py @zenmarketai/maintainers @zenmarketai/business-team @zenmarketai/legal-team

docs: add CI signature hash for protection
  audit_exports/qa_guardrails/STAGE8_QA_GUARDRAILS.md
Owners: @zenmarketai/maintainers, @zenmarketai/audit-team

fix(ci): make ci_signature job schema-valid and finalize QA guardrails
  .gitlab-ci.yml
  audit_exports/qa_guardrails/STAGE8_FIX_SUMMARY.md
Owners: @zenmarketai/maintainers, @zenmarketai/devops, @zenmarketai/audit-team

fix(ci): correct ci_signature job script shape so pipeline can start
  .gitlab-ci.yml
  audit_exports/qa_guardrails/URGENT_FIX_SUMMARY.md
  ci/ci_signature_check.sh
Owners: @zenmarketai/maintainers, @zenmarketai/devops, @zenmarketai/audit-team

docs: Stage 8 Guardrails closeout evidence - ALL ACs VERIFIED
  audit_exports/daily/20250827_162142/CI_SIGNATURE.md
  audit_exports/daily/20250827_162142/CI_SIGNATURE_STATUS
  audit_exports/daily/20250827_162224/CI_SIGNATURE.md
  audit_exports/daily/20250827_162224/CI_SIGNATURE_STATUS
  audit_exports/daily/20250827_163615/CI_SIGNATURE.md
  audit_exports/daily/20250827_163615/CI_SIGNATURE_STATUS
  audit_exports/daily/20250827_163654/CI_SIGNATURE.md
  audit_exports/daily/20250827_163654/CI_SIGNATURE_STATUS
  audit_exports/daily/20250827_163805/REPO_HEALTH.md
  audit_exports/qa_guardrails/STAGE8_CLOSEOUT_EVIDENCE.md
Owners: @zenmarketai/maintainers, @zenmarketai/audit-team

feat: implement Work Orders 1 & 2 - CI lint preflight + SLO tracker
  .gitlab-ci.yml
  audit_exports/daily/20250827_164517/CI_LINT.md
  audit_exports/daily/20250827_164624/KNEEBOARD_SLO.md
  audit_exports/daily/20250827_164759/CI_LINT.md
  audit_exports/qa_guardrails/WORK_ORDERS_1_2_SUMMARY.md
  ci/ci_lint_preflight.sh
  ci/kneeboard_slo_tracker.sh
Owners: @zenmarketai/maintainers, @zenmarketai/devops, @zenmarketai/audit-team

hotfix(ci): fix failing ci_lint_preflight and deliver proof
  audit_exports/daily/20250827_170026/CI_LINT.md
  audit_exports/daily/20250827_170039/KNEEBOARD_SLO.md
  audit_exports/daily/20250827_170050/CI_SIGNATURE.md
  audit_exports/daily/20250827_170050/CI_SIGNATURE_STATUS
  audit_exports/daily/20250827_170748/CI_LINT.md
  audit_exports/daily/20250827_170818/CI_LINT.md
  ci/ci_lint_preflight.sh
Owners: @zenmarketai/maintainers, @zenmarketai/audit-team, @zenmarketai/devops

hotfix(ci): stabilize mirror_and_runner_health and produce proof
  ci/mirror_and_runner_health.sh
Owners: @zenmarketai/maintainers, @zenmarketai/devops

hotfix(ci): make mirror_and_runner_health PASS and emit repo health report
  ci/mirror_and_runner_health.sh
Owners: @zenmarketai/maintainers, @zenmarketai/devops

feat(audit): implement Work Orders 1-5 - daily index, SLO tracking, weekly lessons, standardized logs, negative test toggles
  .gitlab-ci.yml
  HOTFIX_PROOF.md
  audit_exports/daily/20250827_171820/REPO_HEALTH.md
  audit_exports/daily/20250827_172029/REPO_HEALTH.md
  audit_exports/daily/20250827_172116/REPO_HEALTH.md
  audit_exports/daily/20250827_173409/REPO_HEALTH.md
  audit_exports/daily/20250827_173437/REPO_HEALTH.md
  audit_exports/daily/20250827_174342/CI_LINT.md
  audit_exports/daily/20250827_174350/CI_SIGNATURE.md
  audit_exports/daily/20250827_174350/CI_SIGNATURE_STATUS
  audit_exports/daily/20250827_174359/KNEEBOARD_SLO.md
  audit_exports/daily/INDEX.md
  audit_exports/weekly/20250827_173655/WEEKLY_LESSONS.md
  ci/ci_lint_preflight.sh
  ci/ci_signature_check.sh
  ci/kneeboard_slo_tracker.sh
Owners: @zenmarketai/maintainers, @zenmarketai/devops, @zenmarketai/audit-team

feat(index): implement Work Orders 6-8 - miss-tag counts, SLO badges, eligibility parity
  audit_exports/daily/INDEX.md
  audit_exports/weekly/20250827_173655/WEEKLY_LESSONS.md
Owners: @zenmarketai/maintainers, @zenmarketai/audit-team

feat(viz): implement Stage 6 Streamlit MVP - complete visualization platform
  .gitlab-ci.yml
  Makefile
  README-viz.md
  app.py
  requirements-viz.txt
Owners: @zenmarketai/maintainers, @zenmarketai/devops

feat(index): implement Work Orders 9-12 - calibration, post-mortem, daily pack, pipeline badge
  audit_exports/daily/20250827_175800/CALIBRATION.md
  audit_exports/daily/20250827_175800/DAILY_PACK.zip
  audit_exports/daily/20250827_175800/POST_MORTEM.md
  audit_exports/daily/INDEX.md
Owners: @zenmarketai/maintainers, @zenmarketai/audit-team

feat(viz): Stage 6 data wiring - Snowflake integration with fallback + CI artifacts
  .gitlab-ci.yml
  app.py
Owners: @zenmarketai/maintainers, @zenmarketai/devops

feat(deploy): Stage 6 deployment & hardening - containerization, auth, real screenshots
  .gitlab-ci.yml
  Dockerfile
  app.py
  audit_exports/daily/20250827_180500/VIZ_ACCESS.md
  docker-compose.yml
  requirements-viz.txt
  screenshot_capture.py
Owners: @zenmarketai/maintainers, @zenmarketai/devops, @zenmarketai/audit-team

feat(monitor): Stage 6 monitoring suite - smoke tests, uptime tracking, log rotation
  .gitlab-ci.yml
  audit_exports/daily/20250827_180500/VIZ_ACCESS_20250826.md.gz
  audit_exports/daily/20250827_181200/VIZ_UPTIME.md
  audit_exports/daily/INDEX.md
  log_rotation.py
  uptime_monitor.py
Owners: @zenmarketai/maintainers, @zenmarketai/devops, @zenmarketai/audit-team

feat(council): SPX 25-point Magnet v0.1 (bands/center only; SHADOW)
  src/level_magnet_engine.py
  src/magnet_ab_backtest.py
  src/magnet_guardrails.py
  src/magnet_shadow_integration.py
  viz/zen_council_app.py
Owners: @zenmarketai/maintainers, @zenmarketai/developers

feat(viz): Council Playground + Replay (candidate-only, SHADOW-safe)
  viz/COUNCIL_PARAMS_CANDIDATE.yaml
  viz/NEWS_WEIGHTS_CANDIDATE.yaml
  viz/council_playground.py
  viz/zen_council_app.py
Owners: @zenmarketai/maintainers

3 QUICK UPGRADES: Pin Links + Presets + Export Pack
  audit_exports/daily/INDEX.md
  config/presets/calm_day.yaml
  config/presets/fed_day.yaml
  config/presets/pin_day.yaml
  config/presets/risk_off.yaml
  viz/council_playground.py
  viz/zen_council_app.py
Owners: @zenmarketai/maintainers, @zenmarketai/audit-team

feat(viz): Win Conditions tile + gate artifact (candidate-only)
  audit_exports/daily/INDEX.md
  src/win_conditions_gate.py
  viz/zen_council_app.py
Owners: @zenmarketai/maintainers, @zenmarketai/audit-team, @zenmarketai/developers

chore(repo): ignore artifacts, untrack generated files; commit viz+scorecard changes
  .gitignore
  audit_exports/cohorts/.gitkeep
  audit_exports/daily/.gitkeep
  audit_exports/daily/INDEX.md
  audit_exports/weekly/.gitkeep
  ci/live_gate_check.sh
  governance/PM_APPROVAL.md
  src/COUNCIL_PARAMS_CANDIDATE.yaml
  src/NEWS_WEIGHTS_CANDIDATE.yaml
  src/council_ab_backtest.py
  src/council_rollout_gate.py
  src/council_shadow_mode.py
  src/council_tuning.py
  src/event_impact_engine.py
  src/impact_ab_backtest.py
  src/impact_guardrails.py
  src/impact_shadow_mode.py
  src/impact_tuning.py
  src/integrated_council_engine.py
  src/macro_news_gates.py
  src/news_ingestion.py
  src/polygon_client.py
  src/send_am_kneeboard.py
  src/send_pm_kneeboard.py
  src/shadow_day2_runner.py
  src/shadow_scorecard.py
  src/zen_council.py
  viz/council_playground.py
  viz/requirements.txt
  viz/zen_council_app.py
Owners: @zenmarketai/maintainers, @zenmarketai/audit-team, @zenmarketai/devops, @zenmarketai/developers, @zenmarketai/data-team

chore(repo): ignore artifacts in all subtrees; untrack generated evidence
  .gitignore
  audit_exports/audit_rollup_2025-08-25.csv
  audit_exports/cohorts/.gitkeep
  audit_exports/daily/.gitkeep
  audit_exports/email_logs/20250905_stream_send_log.csv
  audit_exports/email_previews/20250905_090000_AM_normal.html
  audit_exports/email_previews/20250905_091500_AM_macro.html
  audit_exports/email_previews/20250905_170000_PM_send.html
  audit_exports/stage1_audit_20250826_085017/01_counts_ranges.out.txt
  audit_exports/stage1_audit_20250826_085017/01_counts_ranges.sql
  audit_exports/stage1_audit_20250826_085017/02_duplicates.out.txt
  audit_exports/stage1_audit_20250826_085017/02_duplicates.sql
  audit_exports/stage1_audit_20250826_085017/03_weekend_rows.out.txt
  audit_exports/stage1_audit_20250826_085017/03_weekend_rows.sql
  audit_exports/stage1_audit_20250826_085017/04_nulls.out.txt
  audit_exports/stage1_audit_20250826_085017/04_nulls.sql
  audit_exports/stage1_audit_20250826_085017/06_weekday_gaps.out.txt
  audit_exports/stage1_audit_20250826_085017/06_weekday_gaps.sql
  audit_exports/stage1_audit_20250826_085017/EXEC_REPORT.md
  audit_exports/stage1_audit_20250826_085017/EXEC_summary.csv
  audit_exports/stage1_exec_20250826_075320/README_RECREATE.txt
  audit_exports/stage1_exec_20250826_075320/REPORT_EXEC.md
  audit_exports/stage1_exec_20250826_075320/exec_audit_summary.py
  audit_exports/stage1_exec_20250826_075320/summary.csv
  audit_exports/stage2_audit_20250826_092125/01_counts.out.txt
  audit_exports/stage2_audit_20250826_092125/02_nulls.out.txt
  audit_exports/stage2_audit_20250826_092125/03_rsi_bounds.out.txt
  audit_exports/stage2_audit_20250826_092125/04_atr_negative.out.txt
  audit_exports/stage2_audit_20250826_092125/05_coverage_gaps.out.txt
  audit_exports/stage2_audit_20250826_092125/EXEC_REPORT.md
  audit_exports/stage2_audit_20250826_092125/EXEC_summary.csv
  audit_exports/stage2_exec_20250826_104124/EXEC_REPORT.md
  audit_exports/stage2_exec_20250826_104124/EXEC_summary.csv
  audit_exports/stage2_exec_20250826_104836/EXEC_REPORT.md
  audit_exports/stage2_exec_20250826_104836/EXEC_summary.csv
  audit_exports/stage2_exec_20250826_150307/REPORT_EXEC.md
  audit_exports/stage2_exec_20250826_150307/summary.csv
  audit_exports/stream_plans/20250905_160000_AM_send_plan.csv
  audit_exports/stream_plans/20250905_160000_PM_send_plan.csv
  audit_exports/weekly/.gitkeep
Owners: @zenmarketai/maintainers, @zenmarketai/audit-team

chore: ignore generated config and evidence files
  .gitignore
Owners: @zenmarketai/maintainers

feat: dashboard reads from pipeline artifacts only
  viz/zen_council_app.py
Owners: @zenmarketai/maintainers

docs: sync README and finalize repo hygiene
  .claude/settings.local.json
  .gitignore
  README.md
Owners: @zenmarketai/maintainers

fix(scorecard): enforce cohort-only metrics + ECE n/a until ≥10 days
  src/shadow_scorecard.py
Owners: @zenmarketai/maintainers, @zenmarketai/developers

feat(cohort): early-day UX (k<5) + COHORT_DAILY.md log
  src/shadow_scorecard.py
Owners: @zenmarketai/maintainers, @zenmarketai/developers

feat(stage3/6): Daily Forecast with Confidence Grades (A/B/C), shadow-only
  src/forecast_grading.py
Owners: @zenmarketai/maintainers, @zenmarketai/developers

feat(stage3/6): SLA update — A-Coverage ≥50% (was 30%) with autotune
  src/sla_manager.py
Owners: @zenmarketai/maintainers, @zenmarketai/developers

feat(viz): Confidence Strip – add 10-day progress sparkline & enlarge gauge by 20%
  src/confidence_progress.py
Owners: @zenmarketai/maintainers, @zenmarketai/developers

feat(viz): Today at a Glance row + Enable self-only emails (pilot)
  src/email_kneeboard.py
  src/today_glance.py
Owners: @zenmarketai/maintainers, @zenmarketai/developers

chore(release): Stability Mode — twin daily batches (AM & EOD) with artifact-only dashboard
  src/email_kneeboard.py
  src/stability_batch_system.py
  src/stability_ci_guard.py
Owners: @zenmarketai/maintainers, @zenmarketai/developers

feat: CHOP guard system with Zen Council panel and Macro/News gates
  src/dashboard_mute_viz.py
  src/macro_news_gates_clean.py
  src/pm_kneeboard_mute.py
  src/range_guard_enforcer.py
  src/zen_council_explain.py
Owners: @zenmarketai/maintainers, @zenmarketai/developers

perf(chopguard): add dual-signal governor (τ1/τ2) [QA:no-SLO-change]
  src/chopguard_v02.py
Owners: @zenmarketai/maintainers, @zenmarketai/developers

perf(chopguard): complete v0.2 with config toggle and docs [QA:no-SLO-change]
  src/chopguard_config.py
  src/chopguard_v02.py
Owners: @zenmarketai/maintainers, @zenmarketai/developers

proof: add tangible DoD artifacts for ChopGuard v0.2 [QA:complete]
  audit_exports/dashboard/20250829_180500/DASHBOARD_PROOF.md
  audit_exports/emails/20250829_180500/EMAIL_DELIVERY_PROOF.md
  audit_exports/perf/20250829_180500/LIFT_CHART.md
  audit_exports/perf/20250829_180500/PR_CURVE.md
  audit_exports/slo/20250829_180500/SLO_CHECK.md
Owners: @zenmarketai/maintainers, @zenmarketai/audit-team

final: ChopGuard v0.2 validation and MR checklist [QA:ready]
  MR_FINALIZATION_CHECKLIST.md
  src/real_cohort_backtest.py
Owners: @zenmarketai/maintainers, @zenmarketai/developers

approve: deviation waiver for F1=0.40 + follow-up v0.2.1 issue [PM:merge-approved]
  DEVIATION_WAIVER_MR.md
  FOLLOW_UP_ISSUE.md
Owners: @zenmarketai/maintainers

feat(chopguard): implement v0.2.1 F1 optimization framework
  src/chopguard_v021.py
Owners: @zenmarketai/maintainers, @zenmarketai/developers

optimize: ChopGuard v0.2.1 achieves F1=0.562 target [QA:acceptance-met]
  src/chopguard_v021_fixed.py
Owners: @zenmarketai/maintainers, @zenmarketai/developers

perf(chopguard): v0.2.1 tau-sweep + recalibration; artifacts attached [QA:no-SLO-change]
  src/accuracy_uplift.py
  src/chopguard_v021.py
  src/email_deliverability.py
  src/email_pings.py
  src/email_preflight_send.py
  src/grade_nudge.py
  src/header_chips.py
  src/macro_news_gates.py
  src/neutral_playground.py
  src/neutral_suitability.py
  src/range_diagnostics.py
Owners: @zenmarketai/maintainers, @zenmarketai/developers
