Repository Johnsoncharless1976/market-forecaster, changes with the owners that CODEOWNERS names for each.
All owners: @zenmarketai/maintainers, @zenmarketai/devops, @zenmarketai/developers, @zenmarketai/forecast-team, @zenmarketai/notification-team, @zenmarketai/data-team, @zenmarketai/docs-team, @zenmarketai/audit-team

adding webhooks
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

adding webhooks
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

fix
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

fix
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

fix
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

fix
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

fix
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

fix
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

slack fix
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

stupid
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

Notion
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

Fix GitLab CI encoding issues
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

Fix YAML indentation in GitLab CI Python block
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

Implement NYSE holiday gate for Stage-1 audit
  vscode_snowflake_starter/requirements.txt
  vscode_snowflake_starter/src/exec_audit_summary.py
Owners: @zenmarketai/maintainers

Fix zenfactory-10x PowerShell script and complete 10-step roadmap
  claude_runner/claude_runner.py
  zenfactory-10x-fixed.ps1
  zenfactory-10x.ps1
Owners: @zenmarketai/maintainers

Replace broken zenfactory-10x.ps1 with working version
  zenfactory-10x.ps1
Owners: @zenmarketai/maintainers

changes
  .gitlab-ci.yml.backup
  claude-haiku.ps1
  claude.ps1
  load-dotenv.ps1
  notion/_notion_common.py
  notion/requirements.txt
  prompt.md
  publish-notion-audit.ps1
  run-claude.ps1
  scripts/run_forecast.ps1
  sonnet-audit.ps1
  summarize-audit.ps1
  test-full-roadmap.ps1
  test-minimal.ps1
  test-simple.ps1
  test-syntax.ps1
  test-zenfactory.ps1
  vscode_snowflake_starter/src/forecast/forecast_writer.py
  vscode_snowflake_starter/src/notion_publish_audit.py
  zenfactory-10x.ps1.backup
  zenfactory-minimal.ps1
Owners: @zenmarketai/maintainers

Implement production-ready Stage-3 forecast writer and fix Slack posting
  scripts/run_forecast.ps1
  sonnet-audit.ps1
  vscode_snowflake_starter/src/forecast/forecast_writer.py
Owners: @zenmarketai/maintainers

Fix Slack webhook 404 errors by clearing cached environment variables
  sonnet-audit.ps1
Owners: @zenmarketai/maintainers

Add Slack webhook setup instructions
  SLACK_SETUP.md
Owners: @zenmarketai/maintainers

still pushing
  SLACK_SETUP.md
  claude-launch.ps1
  claude_outputs/claude_20250902_175329/metadata.json
  claude_outputs/claude_20250902_175329/prompt.txt
  claude_outputs/claude_20250902_175329/response.txt
  claude_outputs/claude_20250902_175813/metadata.json
  claude_outputs/claude_20250902_175813/prompt.txt
  claude_outputs/claude_20250902_175813/response.txt
  claude_outputs/claude_20250902_175820/metadata.json
  claude_outputs/claude_20250902_175820/prompt.txt
  claude_outputs/claude_20250902_175820/response.txt
  claude_outputs/claude_20250902_175843/metadata.json
  claude_outputs/claude_20250902_175843/prompt.txt
  claude_outputs/claude_20250902_175843/response.txt
  claude_outputs/claude_20250902_175851/metadata.json
  claude_outputs/claude_20250902_175851/prompt.txt
  claude_outputs/claude_20250902_175851/response.txt
  claude_outputs/claude_20250902_175905/metadata.json
  claude_outputs/claude_20250902_175905/prompt.txt
  claude_outputs/claude_20250902_175905/response.txt
  claude_outputs/claude_20250902_175913/metadata.json
  claude_outputs/claude_20250902_175913/prompt.txt
  claude_outputs/claude_20250902_175913/response.txt
  claude_outputs/claude_20250902_175923/metadata.json
  claude_outputs/claude_20250902_175923/prompt.txt
  claude_outputs/claude_20250902_175923/response.txt
  claude_outputs/claude_20250902_175937/metadata.json
  claude_outputs/claude_20250902_175937/prompt.txt
  claude_outputs/claude_20250902_175937/response.txt
  claude_outputs/claude_20250902_175945/metadata.json
  claude_outputs/claude_20250902_175945/prompt.txt
  claude_outputs/claude_20250902_175945/response.txt
  claude_outputs/claude_20250902_175951/metadata.json
  claude_outputs/claude_20250902_175951/prompt.txt
  claude_outputs/claude_20250902_175951/response.txt
  output/claude/20250902_173910/receipt.md
  output/claude/20250902_173910/request.json
  output/claude/20250902_173910/response.json
  zenfactory-10x.ps1
Owners: @zenmarketai/maintainers

Stage-3 baseline forecast writer + audit evidence
  claude_outputs/claude_20250902_180112/metadata.json
  claude_outputs/claude_20250902_180112/prompt.txt
  claude_outputs/claude_20250902_180112/response.txt
  claude_outputs/claude_20250902_180234/metadata.json
  claude_outputs/claude_20250902_180234/prompt.txt
  claude_outputs/claude_20250902_180234/response.txt
  claude_outputs/claude_20250902_180357/metadata.json
  claude_outputs/claude_20250902_180357/prompt.txt
  claude_outputs/claude_20250902_180357/response.txt
  claude_outputs/claude_20250902_180507/metadata.json
  claude_outputs/claude_20250902_180507/prompt.txt
  claude_outputs/claude_20250902_180507/response.txt
  scripts/run_forecast_audit.ps1
  vscode_snowflake_starter/src/forecast/forecast_audit.py
Owners: @zenmarketai/maintainers

Update GitLab CI for ZenFactory AI orchestration
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

Restore operational pipeline: daily data ingestion + intraday alerts
  .gitlab-ci.yml
  src/intraday_alert_system.py
Owners: @zenmarketai/maintainers, @zenmarketai/devops, @zenmarketai/developers

yaml
  .gitlab-ci-backup.yml
Owners: @zenmarketai/maintainers

Remove all Windows tags from pipeline jobs
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

Remove all Windows tags from pipeline jobs
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

Convert pipeline to cloud-based Python execution
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

Convert pipeline to cloud-based Python execution
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

Automation
  .gitlab-ci.yml
  news_feed_analysis_20250903_115215.md
  src/news_feed_tester.py
Owners: @zenmarketai/maintainers, @zenmarketai/devops, @zenmarketai/developers

Add automated news system builder and fix Python version
  .gitlab-ci.yml
  src/build_news_system.py
Owners: @zenmarketai/maintainers, @zenmarketai/devops, @zenmarketai/developers

Add automated intraday monitoring system builder
  .gitlab-ci.yml
  src/build_intraday_monitoring.py
Owners: @zenmarketai/maintainers, @zenmarketai/devops, @zenmarketai/developers

python
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

fix
  zen_council_live_forecaster.py
Owners: @zenmarketai/maintainers

new system
  zen_council_live_forecaster.py
  zen_council_news_integration.py
  zen_council_regime_optimizer.py
Owners: @zenmarketai/maintainers

Add missing dependencies: pyyaml, feedparser, snowflake-sqlalchemy
  requirements.txt
Owners: @zenmarketai/maintainers

Dark
  src/format_and_send_forecast.py
Owners: @zenmarketai/maintainers, @zenmarketai/developers

Peoples Champ
  src/format_and_send_forecast.py
Owners: @zenmarketai/maintainers, @zenmarketai/developers

fix(email): replace EMAIL_TO env var with database query for recipients
  src/send_forecast_email.py
Owners: @zenmarketai/maintainers, @zenmarketai/developers

fix: resolve merge conflicts in .gitlab-ci.yml - remove conflict markers
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

CODEOWNERS:

# CODEOWNERS - ZenMarket AI Repository
# https://docs.gitlab.com/ee/user/project/codeowners/
# 
# These users/groups will be requested for review when changes are made to matching files.
# Order is important; the last matching pattern takes precedence.

# Global fallback - require review for all changes
* @zenmarketai/maintainers

# Critical infrastructure files
/.gitlab-ci.yml @zenmarketai/maintainers @zenmarketai/devops
/CODEOWNERS @zenmarketai/maintainers
/requirements.txt @zenmarketai/maintainers

# Source code directories
/src/ @zenmarketai/maintainers @zenmarketai/developers
/src/stage4_forecast.py @zenmarketai/maintainers @zenmarketai/forecast-team
/src/send_email.py @zenmarketai/maintainers @zenmarketai/notification-team
/src/zen_rules.py @zenmarketai/maintainers @zenmarketai/forecast-team

# SQL and data pipeline files
/sql/ @zenmarketai/maintainers @zenmarketai/data-team
/src/*ingest*.py @zenmarketai/maintainers @zenmarketai/data-team
/src/*audit*.py @zenmarketai/maintainers @zenmarketai/data-team

# Configuration and documentation
/docs/ @zenmarketai/maintainers @zenmarketai/docs-team
/*.md @zenmarketai/maintainers
/audit_exports/ @zenmarketai/maintainers @zenmarketai/audit-team

# Test files
/tests/ @zenmarketai/maintainers @zenmarketai/developers

# CI/CD and deployment
/.gitlab/ @zenmarketai/maintainers @zenmarketai/devops
/ci/ @zenmarketai/maintainers @zenmarketai/devops

# Stage 9 commercial features (requires business approval)
# Uncomment when stage9-commercial branch is created
# /src/stage9_*.py @zenmarketai/maintainers @zenmarketai/business-team @zenmarketai/legal-team
