Repository Johnsoncharless1976/market-forecaster, changes with the owners that CODEOWNERS names for each.
All owners: @zenmarketai/maintainers, @zenmarketai/devops, @zenmarketai/developers, @zenmarketai/forecast-team, @zenmarketai/notification-team, @zenmarketai/data-team, @zenmarketai/docs-team, @zenmarketai/audit-team

docs: sync README and finalize repo hygiene
  .claude/settings.local.json
  .gitignore
  README.md
Owners: @zenmarketai/maintainers

chore(release): Stability Mode — twin daily batches (AM & EOD) with artifact-only dashboard
  src/email_kneeboard.py
  src/stability_batch_system.py
  src/stability_ci_guard.py
Owners: @zenmarketai/maintainers, @zenmarketai/developers

feat(cohort): early-day UX (k<5) + COHORT_DAILY.md log
  src/shadow_scorecard.py
Owners: @zenmarketai/maintainers, @zenmarketai/developers

approve: deviation waiver for F1=0.40 + follow-up v0.2.1 issue [PM:merge-approved]
  DEVIATION_WAIVER_MR.md
  FOLLOW_UP_ISSUE.md
Owners: @zenmarketai/maintainers

feat(stage3/6): SLA update — A-Coverage ≥50% (was 30%) with autotune
  src/sla_manager.py
Owners: @zenmarketai/maintainers, @zenmarketai/developers

perf(chopguard): v0.2.1 tau-sweep + recalibration; artifacts attached [QA:no-SLO-change]
  src/accuracy_uplift.py
  src/chopguard_v021.py
  src/email_deliverability.py
  src/email_pings.py
  src/email_preflight_send.py
  src/grade_nudge.py
  src/header_chips.py
  src/macro_news_gates.py
  src/neutral_playground.py
  src/neutral_suitability.py
  src/range_diagnostics.py
Owners: @zenmarketai/maintainers, @zenmarketai/developers

optimize: ChopGuard v0.2.1 achieves F1=0.562 target [QA:acceptance-met]
  src/chopguard_v021_fixed.py
Owners: @zenmarketai/maintainers, @zenmarketai/developers

debug(CI): disable audit job temporarily to test exec job
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

fix(CI): use dependencies instead of needs for artifact inheritance
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

fix(CI): re-enable stage1:audit with working exec dependency
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

debug(CI): rename jobs and remove dependencies to isolate issue
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

test(CI): minimal two-job pipeline to isolate GitLab issue
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

fix(CI): restore complete Stage1 pipeline with proven structure
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

test(CI): use working job names from minimal test
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

fix(audit): add holiday tolerance for weekday gaps
  vscode_snowflake_starter/src/ci_guard_stage1.py
Owners: @zenmarketai/maintainers

test(CI): hybrid test - simple exec job with real names
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

fix(CI): restore complete Stage1 pipeline with working structure
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

debug(CI): remove dependencies to see if both jobs run independently
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

fix(audit): increase weekday gap tolerance to 60
  vscode_snowflake_starter/src/ci_guard_stage1.py
Owners: @zenmarketai/maintainers

debug(CI): remove dependencies to test if both jobs run independently
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

fix(CI): combine exec+audit into single job as emergency workaround
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

debug(CI): implement ChatGPT's dotenv pattern for proper job dependencies
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

chore: stage pending Claude Runner + orchestrator changes
  .gitlab-ci-test.yml
  MR_DESCRIPTION_V021.md
  MR_TURNIN_V021.md
  NEXT_ISSUE_V022.md
  RUNNER_SETUP.md
  audit_summary_cli.py
  bootstrap_base64.txt
  bootstrap_full.txt
  claude_analytics_view.py
  claude_forecast_scorer.py
  claude_prompts/prompt_20250830T160000.md
  claude_prompts/prompt_20250831T100000.md
  claude_prompts/prompt_20250831T140000.md
  claude_prompts/prompt_20250901T120000.md
  claude_prompts/prompt_20250901T130000.md
  claude_prompts/prompt_20250901T150000.md
  claude_prompts_list.md
  claude_runner/claude_audit_writer.py
  claude_runner/claude_runner.py
  claude_runner/prompt.md
  daily_digest_email_notion_sync.py
  orchestrator.yaml
  prompt_explorer.py
  run_tool.py
  sample_digest.html
  send_slack_digest.py
  streamlit_claude_ui.py
  vscode_snowflake_starter/src/debug_dayofweek.py
  vscode_snowflake_starter/src/debug_missing_dates.py
Owners: @zenmarketai/maintainers

yaml fix
  .gitlab-ci.yml
  claude_runner/claude_audit_writer.py
Owners: @zenmarketai/maintainers, @zenmarketai/devops

fix
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

fix(CI): align artifact paths, add PYTHONPATH, complete publish job
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

debug(CI): add file discovery to fix artifact paths
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

fix(CI): move variables out of default block
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

fix(CI): rewrite YAML with clean formatting
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

fix(CI): use wildcard paths to catch all artifacts
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

fix
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

fix
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

fix
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

fix(CI): create audit_validate.py and simplify pipeline
  .gitlab-ci.yml
  vscode_snowflake_starter/src/audit_validate.py
Owners: @zenmarketai/maintainers, @zenmarketai/devops

fix
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

fix
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

ix
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

fix
  .gitlab-ci.yml
Owners: @zenmarketai/maintainers, @zenmarketai/devops

CODEOWNERS:

# CODEOWNERS - ZenMarket AI Repository
# https://docs.gitlab.com/ee/user/project/codeowners/
# 
# These users/groups will be requested for review when changes are made to matching files.
# Order is important; the last matching pattern takes precedence.

# Global fallback - require review for all changes
* @zenmarketai/maintainers

# Critical infrastructure files
/.gitlab-ci.yml @zenmarketai/maintainers @zenmarketai/devops
/CODEOWNERS @zenmarketai/maintainers
/requirements.txt @zenmarketai/maintainers

# Source code directories
/src/ @zenmarketai/maintainers @zenmarketai/developers
/src/stage4_forecast.py @zenmarketai/maintainers @zenmarketai/forecast-team
/src/send_email.py @zenmarketai/maintainers @zenmarketai/notification-team
/src/zen_rules.py @zenmarketai/maintainers @zenmarketai/forecast-team

# SQL and data pipeline files
/sql/ @zenmarketai/maintainers @zenmarketai/data-team
/src/*ingest*.py @zenmarketai/maintainers @zenmarketai/data-team
/src/*audit*.py @zenmarketai/maintainers @zenmarketai/data-team

# Configuration and documentation
/docs/ @zenmarketai/maintainers @zenmarketai/docs-team
/*.md @zenmarketai/maintainers
/audit_exports/ @zenmarketai/maintainers @zenmarketai/audit-team

# Test files
/tests/ @zenmarketai/maintainers @zenmarketai/developers

# CI/CD and deployment
/.gitlab/ @zenmarketai/maintainers @zenmarketai/devops
/ci/ @zenmarketai/maintainers @zenmarketai/devops

# Stage 9 commercial features (requires business approval)
# Uncomment when stage9-commercial branch is created
# /src/stage9_*.py @zenmarketai/maintainers @zenmarketai/business-team @zenmarketai/legal-team
